<body class="cart-page">

<h1>Your Cart</h1>

  <div class="total-price">
    <h3>$ Cart Total: <%= @cart.total_price %></h3>
  </div>
  <div class="checkout-or-login-links">
  <% if current_user %>
    <h5><%= button_to "Checkout", orders_path, class: "btn btn-default checkout-btn" %></h5>
  <% else %>
    <h5><%= link_to "Login", new_session_path %> or <%= link_to "Create Account", new_user_path %> to Checkout <h5>
  <% end %>
  </div>
<div class="">
    <div class="row text-center">
      <% @courses.each do |course| %>
        <div class="col-md-3 col-sm-6 center-items">
          <div class="thumbnail">
            <img src="<%= course.image %>" class="course-image">
              <div class="caption">
              <h3><%= course.title %></h3>
              <p><%= course.description %></p>
              <p><%= course.price %></p>
              Quantity: <%=  @cart.content[course.id.to_s] %>
              <%= button_to "Increase Quantity", cart_path(course_id: course.id, increase: "increase"), method: :post %>
              <%= button_to "Decrease Quantity", cart_path(course_id: course.id, decrease: "decrease"), method: :post %>
              <%= button_to "Remove", cart_path(course_id: course.id), method: "delete", id: "#{course.id}" %>
              Subtotal: <%= number_with_precision((@cart.content[course.id.to_s] * course.price),  precision: 2)  %>
               <hr/>
              </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
</body>
