<h1>All Courses</h1>

<table class="table">
  <th> Image </th>
  <th> Title </th>
  <th> Description </th>
  <th> Status </th>
  <th> Edit Course </th>
  <% @courses.each do |course| %>
    <tr>
      <td><%= image_tag course.image  %></td>
      <td><%= link_to course.title, course_path(course) %></td>
      <td><%= course.description %></td>
      <td><%= course.status %></td>
      <td><%= link_to "Edit", edit_admin_course_path(course) %></td>
    </tr>
    <% end %>
</table>
