<h1>Create a New Course</h1>

<%= form_for [:admin, @course], html: { multipart: true } do |f| %>

<%= render partial: "shared/errors", locals: { target: @course } %>

  <%= f.label :category_id %>
  <%= f.collection_select :category_id, Category.all, :id, :title, required: true %></br>

  <%= f.label :title %>:
  <%= f.text_field :title %></br>

  <%= f.label :description %>:
  <%= f.text_area :description %></br>

  <%= f.label :price %>:
  <%= f.number_field :price, min: 1  %></br>

  <%= f.label :image %>:
  <%= f.text_field :image %></br>

  <%= f.label :status %>
  <%= f.select :status, ["active", "inactive"] %><br>

  <%= f.submit "Create Course", class: "btn btn-primary" %>

<% end %>
